@import "tailwindcss";


@theme {
  --color-primaryColor: #42004a;
  --color-barColor: #efe6ef;
  --color-bgColor: #e7dae7;
}

/* menu */
.custom-menu .ant-menu-item-selected .menu-icon {
  color: #42004a;
}

/* menu item bg color */
.ant-menu-light .ant-menu-item {
  background-color: #f6f6f6 !important;
}
