@import "tailwindcss";


@theme {
  --color-primaryColor: #42004a;
  --color-barColor: #efe6ef;
  --color-bgColor: #e7dae7;
}

/* menu */
/* .custom-menu .ant-menu-item-selected .menu-icon {
  color: #42004a;
} */
/* This goes in your global CSS or scoped styles (e.g., App.css or Sidebar.module.css) */
.ant-menu-light .ant-menu-item {
  background-color: #f6f6f6 !important;

}

/* Ensure selected and hover still override it */
.ant-menu-light .ant-menu-item-selected {
  background-color: #f6f6f6 !important;
  color: #4E4E4E !important;
}
.ant-menu-light .ant-menu-item:hover {
  background-color: #f6f6f6 !important;
  color: #4E4E4E !important;
}